<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<!--    반복되는 요소 빠르게 재활용하는 방법 --------------------->
<!--    th:fragment="작명"-->
<!--    thymeleaf 문법 html요소를 재사용 할 수 있게 해줌-->
<!--    th:replace="~{ 파일명::작명한 것 }"-->

    <div th:replace="~{nav.html::navbar}"></div>

<!--    검색기능 구현 --------------------------------------->
<!--    1) 검색폼 만들기-->
<!--    2) 서버에서 검색 결과가 제목에 들어있는 상품 찾아서 보내주기-->
    <form action="/search" method="GET">
        <input name="searchText" style="display: inline">
        <button>검색</button>
    </form>


    <div class="card" th:each="i : ${searchResult}" th:if="${searchResult != null}">

        <img th:if="${i.img_url != null}" th:src="@{${i.img_url}}">
        <img th:if="${i.img_url == null}" src="https://placehold.co/300">

        <div>
            <!-- th는 thymeleaf의 줄임말이고 서버에서 보낸 데이터를 innerHTML에 꽂아준다-->
            <h4 th:text="${i.title}">title</h4>
            <!-- 링크도 thymeleaf 문법을 이용해줘야 함 @{'url' + 꺼내올것}-->
            <a th:href="@{'/detail/' + ${i.id}}">링크</a>
            <a th:href="@{'/edit/' + ${i.id}}">수정</a>
            <a th:href="@{'/delete/' + ${i.id}}">삭제</a>
            <p th:text="${i.price} + '원'">price</p>
        </div>

    </div>



    <!-- thymeleaf 템플릿엔진에서 서버에서 보내준 데이터를 반복문으로 꺼내주는 방법-->
    <!-- 1) th:each 반복문을 사용하기-->
    <!-- 2) 작명한 이름으로 1개씩 꺼내줌-->
    <!--th:each="작명 : ${서버에서 보내준 데이터명}-->
    <div class="card" th:each="i : ${items}" th:if="${items != null}">


        <img th:if="${i.img_url != null}" th:src="@{${i.img_url}}">
        <img th:if="${i.img_url == null}" src="https://placehold.co/300">

        <div>
            <!-- th는 thymeleaf의 줄임말이고 서버에서 보낸 데이터를 innerHTML에 꽂아준다-->
            <h4 th:text="${i.title}">title</h4>
            <!-- 링크도 thymeleaf 문법을 이용해줘야 함 @{'url' + 꺼내올것}-->
            <a th:href="@{'/detail/' + ${i.id}}">링크</a>
            <a th:href="@{'/edit/' + ${i.id}}">수정</a>
            <a th:href="@{'/delete/' + ${i.id}}">삭제</a>
            <p th:text="${i.price} + '원'">price</p>
        </div>
    </div>

    <div th:replace="~{listPagination.html::pagination}"></div>



    <!-- 자바스크립트에서 Thymeleaf 문법 사용하려면 -->
    <!-- 특이한 문법을 사용해야함-->
    <!-- Map자료나 List면 r.json()-->

    <!-- 1) 새로고침 없이 요청날리고 데이터 받아오려면 AJAX-->
    <!-- 2) query string, URL parameter 써도 서버로 데이터 전송가능-->
    <!-- 3) 자바스크립트 안에 Thymeleaf 변수 넣기 가능-->

    <!--버튼으로 AJAX방식 데이터 보내기-->
    <!--AJAX는 새로고침없이 서버로 요청을 날릴 수 있음-->
    <!--리액트는 새로고침없이 앱같은 사이트를 만듦 그래서 주로 ajax를 이용-->

<!--<button class="btn">버튼</button>-->

<!--&lt;!&ndash;html 파일 로드시 1회 실행됨&ndash;&gt;-->
<!--<script>-->
<!--    document.getElementsByClassName('btn')[0].addEventListener('click', function() {-->
<!--        fetch('/test1', {-->
<!--            method: 'POST',-->
<!--            // body: '전송할데이터' // object 자료형-->
<!--            headers: {'Content-Type' : 'application/json'},-->
<!--            body: JSON.stringify({title: 'kim', price: 123})-->
<!--        });-->
<!--    })-->

<!--    // 쿼리 스트링 방식으로 보내기 GET 방식임 (정보가 잘보이는 단점)-->
<!--    // fetch('/test1?이름=값&이름2=값2')-->

<!--    // URL로 GET 요청 날리기-->
<!--    // fetch('/test1')-->
<!--</script>-->

</body>
</html>