<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
    <link href="/ordersDetail.css" rel="stylesheet">
</head>
<body>

    <div th:replace="~{nav.html::navbar}"></div>

    <div class="container">
        <div class="status-bar">
            <span class="store-name">가게명1</span>
            <span class="order-status">배송 완료</span>
        </div>
        <div class="order-steps">
            <button class="step active">접수완료</button>
            <button class="step active">조리중</button>
            <button class="step active">배송중</button>
            <button class="step active">배달 완료</button>
            <button class="step">주문취소</button>
        </div>
        <div class="order-details">
            <div class="section">
                <h3>주문 정보</h3>
                <p >주문번호</p>
                <p >주문시간</p>
            </div>
            <div class="section">
                <h3>주문 내역</h3>
                <p >상품명</p>
                <h4>상품금액</h4>
                <p>상품금액</p>
                <p>배달요금: 무료</p>
            </div>
            <div class="section">
                <h3>주문자 정보</h3>
                <p>연락처: 010-0000-0000</p>
                <p>주문자 이름</p>
            </div>
            <div class="section total">
                <h3>총 결제금액</h3>
                <p >18,000원</p>
            </div>
        </div>
        <div class="store-request">
            <h3>가게 요청사항</h3>
            <p>-</p>
        </div>
    </div>




</body>
</html>