<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

    <div th:replace="~{nav.html::navbar}"></div>

    <!-- <form action="/전송할 페이지 URL 주소" method="POST">-->
    <form action="/add" method="POST">
        <!-- name 속성이 있어야 전송이 잘 됨-->

        <!-- 이게 csrf 사용할거면 추가해야할 csrf 토큰 생성기임 안쓸거면 주석처리 -->
        <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->

        <input name="title" placeholder="상품명">
        <input name="price" placeholder="가격">
        <input name="img_url" type="hidden"  id="img_url">
        <button type="submit">전송</button>
    </form>

    <!-- input 내용 입력시 onchange에 넣은 것을 자바스크립트로 실행-->
    <!-- 여기서 this는 이벤트가 발생한 HTML 요소 그 자체를 의미함-->
    <input type="file" onchange="getURL(this)">
    <img id="uploadImg" src="">

    <script>
        async function getURL(e) {
            // e.files[0].name // 유저가 선택한 파일
            // url 인코딩해주는게 서버로 보낼때 안깨지는 방법임
            let file = e.files[0];
            let name = encodeURIComponent(file.name);
            // ajax에서는 아래처럼 길게 메서드 만들어야하는데
            // fetch().then().then() 쓰기 싫으면
            // await fetch() 쓰면 됨
            // 근데 쓰려면 함수 이름앞에 async도 붙여야함
            // 그러면 이제 then() 두 번 안써도 됨

            // persigned-url이랑 이미지 이름을 result에 담아서 요청함
            let result = await fetch('/presigned-url?filename=' + name); // 서버에 요청
            result = await result.text();

            // presigned-url이랑 이미지 이름을 result에 담아 서버에 PUT 요청
            let putRequest = await fetch(result, {
                method: 'PUT',
                body: e.files[0]
            })

            // ? 뒤쪽 내용은 자르고 img 이름만 가져오려고 split 사용함
            // putRequest.url.split("?")[0] : 이미지 src임
            // 요청이 들어갔으면 이제 img 태그에 어떤 이미지 올릴지도 보여주자
            if (putRequest.ok) {
                document.getElementById('uploadImg').src = putRequest.url.split("?")[0];
                document.getElementById('img_url').value = putRequest.url.split("?")[0];
            }

        }

    </script>
</body>
</html>